{% extends "recipes/layout.html" %}
{% load static %}

{% block body %}

<main>
    <div class="container py-1 mt-3">
        <h2>Your Profile</h2>
        <div class="p-1 bg-light rounded-3 border border-2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="p-3 text-center">
                        <img src="{% static 'recipes/images/user_profile.jpg' %}" alt="" class="img-responsive" style="width: 70%; border-radius: 40px;" id="recipe-img">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="p-3">
                        <h1 class="display-7 fw-bold" id="meal-name" style="color: #f7a325;">{% if request.user.is_authenticated %} {{ user }} {% endif %}</h1>
                        <p class="col-sm-8">
                            <p class="fs-4">Email: {% if request.user.is_authenticated %} {{ request.user.email }} {% endif %}</p>
                            <p class="fs-4">Joined: {% if request.user.is_authenticated %} {{ request.user.date_joined }} {% endif %}</p>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<section>
    <div class="container py-4">
        <div class="row align-items-md-stretch">
            <div class="col-md-4">
                <div class="p-4 border border-2 rounded-3">
                    <h2 style="color: #f7a325;">Information</h2>
                    <ul class="list-group">
                        <li class="list-group-item"><span id="bookmarks_count">0</span> bookmarked meals.</li>
                        <li class="list-group-item"><span id="comments_count">0</span> added comments.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="h-100 p-4 border border-2 rounded-3">
                    <h3 class="d-none" id="no-bookmarked-meals">Your bookmarked meals will appear here. Let's scroll through the recipes!</h3>
                    <h3 id="true-bookmarked-meals" >Bookmarks</h3>
                    <div class="row" id="bookmarked_meals">
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5">
    <div class="line" style="width: 100%; height: 2px; background-color: #f7a325;"></div>
</div>

<style>
    main span {
        color: #f7a325;
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    #bookmarked_meals h3{
        color: #f7a325;
    }
    #bookmarked_meals h3:hover{
        cursor: pointer;
    }
    #bookmarked_meals img:hover{
        cursor: pointer;
    }
    #bookmarked_meals h2{
        text-align: center;
        color: black;
        font-weight: 600;
    }
    #bookmarked_meals h2 i{
        color: var(--primary_color);
    }
    #bookmarked_meals h6{
        font-size: 16px;
    }
    .rating i{
        color: rgb(255, 107, 8);
        font-size: 13px;
    }
    #bookmarked_meals p{
        margin-top: 5px;
        font-weight: bold;
    }
    #bookmarked_meals p i{
        float: right;
        color: var(--primary_color);
        cursor: pointer;
    }
</style>

<script src="{% static 'recipes/profile.js' %}"></script>

{% endblock body %}