{% extends "layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center bg-image" style="background-image: url({% static "images/download.png" %})">
  <div class="container">
      <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light text-white">Enjoy Listing Recipes!</h1>
          <p class="lead text-white">Each recipe on our website comes with easy-to-follow instructions, giving you the confidence to create culinary masterpieces in your own kitchen. We also provide helpful tips, substitution suggestions, and nutritional information so you can make informed choices.</p>
      </div>
      </div>
  </div>
</section>

<section class="menu" id="menu">
    <h3><span id="recommended-recipes">View Recipes</span></h3>
  
    <h2>Delicious Dishes Are Here <i class="fa-solid fa-arrow-down"></i></h2>

    <!-- search recipe by NAME -->
    <form class="d-none">
        <input type="text" minlength="1" class="form-control me-2" placeholder="Search by the name" autocomplete="off" required id="search-query">
        <button type="submit" class="my-btn" id="search">Search</button>
    </form>
  
    <div class="row" style="margin-top: 30px;" id="suggestions">
    
    
    </div>

    

    <div class="row" style="margin-top: 30px;" id="search-results" style="display: none;">
    
    
    </div>
    <button type="button" class="btn btn-outline-warning text-center justify-content-center mt-3" id="btn-view-more">View More</button>
  
</section>

<div class="container">
    <div class="line" style="width: 100%; height: 2px; background-color: #f7a325;"></div>
</div>

<script src="{% static 'javascript/recipes.js' %}"></script>

{% endblock %}